/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.lupa-password-block {
  display: flex;
  flex-direction: column;
  background-color: #b8e3ff;
}
.lupa-password-block.layout {
  position: relative;
}
.lupa-password-block1 {
  display: flex;
  background-color: white;
}
.login-block8 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 27.5px 27.5px 27.5px 27.5px;
  transition-duration: 0.3s;
  transition-property: filter;
}
.login-block8:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.login-block8.layout {
  position: relative;
  width: 800px;
  height: 55px;
  padding-left: 30px;
  margin: 10px 0px 10px 0px;
  font-size: 20px;
}
.lupa-password-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  margin: 0px 0px;
}
.lupa-password-block1-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 72px;
}
.lupa-password-image {
  background: var(--src) center center/contain no-repeat;
}
.lupa-password-image.layout {
  position: relative;
  height: 58px;
  width: 42px;
  min-width: 42px;
  margin: 16px 0px 15px auto;
}
@media (max-width: 1199px) {
  .lupa-password-image.layout {
    margin: 14px 0px 13px auto;
  }
}
@media (max-width: 991px) {
  .lupa-password-image.layout {
    margin: 12px 0px 11px auto;
  }
}
@media (max-width: 767px) {
  .lupa-password-image.layout {
    margin: 10px 0px 9px auto;
  }
}
@media (max-width: 575px) {
  .lupa-password-image.layout {
    margin: 9px 0px 9px auto;
  }
}
@media (max-width: 479px) {
  .lupa-password-image.layout {
    margin: 8px 0px 8px auto;
  }
}
@media (max-width: 383px) {
  .lupa-password-image.layout {
    margin: 8px 0px 7px auto;
  }
}
.lupa-password-block1-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 100px;
}
@media (max-width: 1199px) {
  .lupa-password-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 991px) {
  .lupa-password-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .lupa-password-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 575px) {
  .lupa-password-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 479px) {
  .lupa-password-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 383px) {
  .lupa-password-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.lupa-password-medium-title-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100px;
  min-width: 100px;
  margin: 19px auto 12px 0px;
}
@media (max-width: 1199px) {
  .lupa-password-medium-title-box.layout {
    margin: 17px auto 11px 0px;
  }
}
@media (max-width: 991px) {
  .lupa-password-medium-title-box.layout {
    margin: 14px auto 9px 0px;
  }
}
@media (max-width: 767px) {
  .lupa-password-medium-title-box.layout {
    margin: 12px auto 8px 0px;
  }
}
@media (max-width: 575px) {
  .lupa-password-medium-title-box.layout {
    margin: 11px auto 7px 0px;
  }
}
@media (max-width: 479px) {
  .lupa-password-medium-title-box.layout {
    margin: 10px auto 6px 0px;
  }
}
@media (max-width: 383px) {
  .lupa-password-medium-title-box.layout {
    margin: 9px auto 6px 0px;
  }
}
.lupa-password-medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 24px/1.2 "Port Lligat Sans", Helvetica, Arial, serif;
  color: #383838;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
@media (max-width: 1199px) {
  .lupa-password-medium-title {
    font-size: 22px;
    text-align: left;
  }
}
@media (max-width: 991px) {
  .lupa-password-medium-title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .lupa-password-medium-title {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .lupa-password-medium-title {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .lupa-password-medium-title {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .lupa-password-medium-title {
    font-size: 16px;
  }
}
.lupa-password-block2 {
  display: flex;
  flex-direction: column;
}
.lupa-password-block2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 751px;
  min-width: 751px;
  margin: 189px auto 430px;
}
@media (max-width: 1199px) {
  .lupa-password-block2.layout {
    margin: 150px auto 331px;
  }
}
@media (max-width: 991px) {
  .lupa-password-block2.layout {
    margin: 107px auto 225px;
  }
}
@media (max-width: 767px) {
  .lupa-password-block2.layout {
    margin: 71px auto 133px;
  }
}
@media (max-width: 575px) {
  .lupa-password-block2.layout {
    margin: 53px auto 88px;
  }
}
@media (max-width: 479px) {
  .lupa-password-block2.layout {
    margin: 35px auto 42px;
  }
}
@media (max-width: 383px) {
  .lupa-password-block2.layout {
    margin: 22px auto 11px;
  }
}
.lupa-password-hero-title {
  display: flex;
  justify-content: flex-end;
  font: 36px/1.2 "Krona One", Helvetica, Arial, serif;
  color: #444343;
  text-align: right;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .lupa-password-hero-title {
    justify-content: center;
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .lupa-password-hero-title {
    font-size: 29px;
  }
}
@media (max-width: 767px) {
  .lupa-password-hero-title {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  .lupa-password-hero-title {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  .lupa-password-hero-title {
    font-size: 22px;
  }
}
@media (max-width: 383px) {
  .lupa-password-hero-title {
    font-size: 21px;
  }
}
.lupa-password-hero-title.layout {
  position: relative;
  height: 44px;
  width: 405px;
  min-width: 405px;
  margin: 0px auto;
}
@media (max-width: 479px) {
  .lupa-password-hero-title.layout {
    width: 540px;
    min-width: 540px;
  }
}
@media (max-width: 383px) {
  .lupa-password-hero-title.layout {
    width: 720px;
    min-width: 720px;
  }
}
.lupa-password-block3 {
  display: flex;
  flex-direction: column;
}
.lupa-password-block3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 50px 0px 0px;
}
@media (max-width: 1199px) {
  .lupa-password-block3.layout {
    margin: 43px 0px 0px;
  }
}
@media (max-width: 991px) {
  .lupa-password-block3.layout {
    margin: 35px 0px 0px;
  }
}
@media (max-width: 767px) {
  .lupa-password-block3.layout {
    margin: 28px 0px 0px;
  }
}
@media (max-width: 575px) {
  .lupa-password-block3.layout {
    margin: 24px 0px 0px;
  }
}
@media (max-width: 479px) {
  .lupa-password-block3.layout {
    margin: 21px 0px 0px;
  }
}
@media (max-width: 383px) {
  .lupa-password-block3.layout {
    margin: 19px 0px 0px;
  }
}
.lupa-password-big-title {
  display: flex;
  justify-content: flex-end;
  font: 28px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #444343;
  text-align: right;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .lupa-password-big-title {
    justify-content: center;
    font-size: 25px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .lupa-password-big-title {
    font-size: 23px;
  }
}
@media (max-width: 767px) {
  .lupa-password-big-title {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .lupa-password-big-title {
    font-size: 19px;
  }
}
@media (max-width: 479px) {
  .lupa-password-big-title {
    font-size: 18px;
  }
}
@media (max-width: 383px) {
  .lupa-password-big-title {
    font-size: 17px;
  }
}
.lupa-password-big-title.layout {
  position: relative;
  height: 34px;
  width: 651px;
  min-width: 651px;
  margin: 0px auto;
}
@media (max-width: 767px) {
  .lupa-password-big-title.layout {
    width: 868px;
    min-width: 868px;
  }
}
@media (max-width: 575px) {
  .lupa-password-big-title.layout {
    width: 1157px;
    min-width: 1157px;
  }
}
@media (max-width: 479px) {
  .lupa-password-big-title.layout {
    width: 1543px;
    min-width: 1543px;
  }
}
@media (max-width: 383px) {
  .lupa-password-big-title.layout {
    width: 2057px;
    min-width: 2057px;
  }
}
.lupa-password-box {
  background-color: white;
  border-radius: 28px 28px 28px 28px;
  transition-duration: 0.3s;
  transition-property: filter;
}
.lupa-password-box:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.lupa-password-box.layout {
  position: relative;
  height: 70px;
  margin: 33px 0px 0px;
}
@media (max-width: 1199px) {
  .lupa-password-box.layout {
    margin: 29px 0px 0px;
  }
}
@media (max-width: 991px) {
  .lupa-password-box.layout {
    margin: 24px 0px 0px;
  }
}
@media (max-width: 767px) {
  .lupa-password-box.layout {
    margin: 20px 0px 0px;
  }
}
@media (max-width: 575px) {
  .lupa-password-box.layout {
    margin: 18px 0px 0px;
  }
}
@media (max-width: 479px) {
  .lupa-password-box.layout {
    margin: 16px 0px 0px;
  }
}
@media (max-width: 383px) {
  .lupa-password-box.layout {
    margin: 15px 0px 0px;
  }
}
.lupa-password-block4 {
  display: flex;
  flex-direction: column;
  background-color: #0583d2;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2470588235);
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: filter;
}
.lupa-password-block4:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.lupa-password-block4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 28.89%;
  margin: 25px auto 0px;
}
@media (max-width: 1199px) {
  .lupa-password-block4.layout {
    margin: 22px auto 0px;
  }
}
@media (max-width: 991px) {
  .lupa-password-block4.layout {
    margin: 19px auto 0px;
  }
}
@media (max-width: 767px) {
  .lupa-password-block4.layout {
    margin: 16px auto 0px;
  }
}
@media (max-width: 575px) {
  .lupa-password-block4.layout {
    margin: 14px auto 0px;
  }
}
@media (max-width: 479px) {
  .lupa-password-block4.layout {
    margin: 13px auto 0px;
  }
}
@media (max-width: 383px) {
  .lupa-password-block4.layout {
    margin: 12px auto 0px;
  }
}
.lupa-password-big-title1 {
  display: flex;
  justify-content: center;
  font: 32px/1.2 "Poppins", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .lupa-password-big-title1 {
    font-size: 29px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .lupa-password-big-title1 {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .lupa-password-big-title1 {
    font-size: 23px;
  }
}
@media (max-width: 575px) {
  .lupa-password-big-title1 {
    font-size: 21px;
  }
}
@media (max-width: 479px) {
  .lupa-password-big-title1 {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .lupa-password-big-title1 {
    font-size: 19px;
  }
}
.lupa-password-big-title1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 40.55%;
  margin: 6px auto 15px;
}
@media (max-width: 1199px) {
  .lupa-password-big-title1.layout {
    margin: 5px auto 13px;
  }
}
@media (max-width: 991px) {
  .lupa-password-big-title1.layout {
    margin: 5px auto 11px;
  }
}
@media (max-width: 767px) {
  .lupa-password-big-title1.layout {
    margin: 5px auto 9px;
  }
}
@media (max-width: 479px) {
  .lupa-password-big-title1.layout {
    margin: 5px auto 8px;
  }
}
@media (max-width: 383px) {
  .lupa-password-big-title1.layout {
    margin: 5px auto 7px;
  }
}