/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.pilih-pembayaran-block {
  display: flex;
  flex-direction: column;
  background-color: #2ecbe9;
}
.pilih-pembayaran-block.layout {
  position: relative;
  min-height: 1024px;
  flex-shrink: 0;
  

}.header-block {
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2470588235);
}
.header-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.header-block-logo{
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 176px;
  cursor: pointer;
}
.header-block-logo-item {
  display: flex;
}
.header-block-logo-item.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px 0px 16px 34px;
}
@media (max-width: 1199px) {
  .header-block-logo-item.layout {
    margin: 14px 0px 14px 30px;
  }
}
@media (max-width: 991px) {
  .header-block-logo-item.layout {
    margin: 12px 25px;
  }
}
@media (max-width: 767px) {
  .header-block-logo-item.layout {
    margin: 10px 21px;
  }
}
@media (max-width: 575px) {
  .header-block-logo-item.layout {
    margin: 9px 19px;
  }
}
@media (max-width: 479px) {
  .header-block-logo-item.layout {
    margin: 8px 17px;
  }
}
@media (max-width: 383px) {
  .header-block-logo-item.layout {
    margin: 8px 15px;
  }
}
.header-block-logo-item-gambar {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 42px;
}
.konsultasi-image {
  background: var(--src) center center/contain no-repeat;
}
.konsultasi-image.layout {
  position: relative;
  height: 58px;
  width: 42px;
  min-width: 42px;
}
.header-block-logo-item-gambar1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 100px;
}
@media (max-width: 1199px) {
  .header-block-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 991px) {
  .header-block-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .header-block-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 575px) {
  .header-block-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 479px) {
  .header-block-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 383px) {
  .header-block-medium-title-box {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.header-block-medium-title-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.header-block-medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 24px/1.2 "Port Lligat Sans", Helvetica, Arial, serif;
  color: #383838;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
@media (max-width: 1199px) {
  .header-block-medium-title {
    font-size: 22px;
    text-align: left;
  }
}
@media (max-width: 991px) {
  .header-block-medium-title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .header-block-medium-title {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .header-block-medium-title {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .header-block-medium-title {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .header-block-medium-title {
    font-size: 16px;
  }
}
.header-block1-spacer {
  flex: 1 1 446px;
}
.konsultasi-block1-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 818px;
}
.header-block-item {
  display: flex;
}
.header-block-item.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 818px;
  min-width: 818px;
  margin: 20px 0px;
}
@media (max-width: 1199px) {
  .header-block-item.layout {
    margin: 18px 0px;
  }
}
@media (max-width: 991px) {
  .header-block-item.layout {
    margin: 15px 0px;
  }
}
@media (max-width: 767px) {
  .header-block-item.layout {
    margin: 13px 0px;
  }
}
@media (max-width: 575px) {
  .header-block-item.layout {
    margin: 11px 0px;
  }
}
@media (max-width: 479px) {
  .header-block-item.layout {
    margin: 10px 0px;
  }
}
.header-block-item-link {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
}
.konsultasi-medium-title1 {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #383838;
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: filter;
}
.header-block-item-layanan {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #383838;
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: filter;
}
.header-block-item-konsultasi {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #383838;
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: filter;
}
.header-block-item-testimoni {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #383838;
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: filter;
}
.header-block-item-kerjasama {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #383838;
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: filter;
}
.header-block-item-tentang {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Poppins", Helvetica, Arial, serif;
  color: #383838;
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: filter;
}
.konsultasi-medium-title1:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.header-block-item-layanan:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.header-block-item-konsultasi:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.header-block-item-testimoni:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.header-block-item-kerjasama:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.header-block-item-tentang:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.konsultasi-medium-title1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 7px 0px 14px;
}
.header-block-item-layanan.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 7px 0px 14px;
}
.header-block-item-kerjasama.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 7px 0px 14px;
}
.header-block-item-tentang.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 7px 0px 14px;
}
.header-block-item-testimoni.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 7px 0px 14px;
}
.header-block-item-kerjasama.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 7px 0px 14px;
}
.header-block-item-konsultasi.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 7px 0px 14px;
}
.header-block-item-spacer {
  flex: 0 1 24px;
}
.header-block-item-spacer1 {
  flex: 0 1 27px;
}
.header-block-item-link1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 50px;
}
.header-profil-icon {
  background: var(--src) center center/contain no-repeat;
  cursor: pointer;
}
.header-profil-icon.layout {
  position: relative;
  height: 50px;
  width: 50px;
  min-width: 50px;
}
.pilih-pembayaran-medium-title2 {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Krona One", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title2 {
    font-size: 22px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title2 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title2 {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title2 {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title2 {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title2 {
    font-size: 16px;
  }
}
.pilih-pembayaran-medium-title2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 76px 0px 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title2.layout {
    margin: 65px 0px 0px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title2.layout {
    margin: 52px 0px 0px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title2.layout {
    margin: 42px 0px 0px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title2.layout {
    margin: 37px 0px 0px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title2.layout {
    margin: 31px 0px 0px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title2.layout {
    margin: 28px 0px 0px;
  }
}
.pilih-pembayaran-block4 {
  display: flex;
  justify-content: center;
}
.pilih-pembayaran-block4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 932px;
  min-width: 932px;
  margin: 76px auto 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-block4.layout {
    margin: 65px auto 0px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-block4.layout {
    width: 1243px;
    min-width: 1243px;
    margin: 52px auto 0px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-block4.layout {
    width: 1657px;
    min-width: 1657px;
    margin: 42px auto 0px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-block4.layout {
    width: 2209px;
    min-width: 2209px;
    margin: 37px auto 0px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-block4.layout {
    width: 2945px;
    min-width: 2945px;
    margin: 31px auto 0px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-block4.layout {
    width: 3927px;
    min-width: 3927px;
    margin: 28px auto 0px;
  }
}
.pilih-pembayaran-block4-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 200px;
}
.pilih-pembayaran-block5 {
  display: flex;
  flex-direction: column;
  background-color: #b8e3ff;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.2470588235);
  border: 1px solid black;
  border-radius: 19px 19px 19px 19px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: filter;
}
.pilih-pembayaran-block5:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.pilih-pembayaran-block5-clicked{
  display: flex;
  flex-direction: column;
  background-color: #FFE45C;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.2470588235);
  border: 1px solid black;
  border-radius: 19px 19px 19px 19px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: filter;
}
.pilih-pembayaran-block5.layout {
  position: relative;
  height: 96px;
  width: 200px;
  min-width: 200px;
}
.pilih-pembayaran-medium-title3 {
  display: flex;
  justify-content: center;
  font: 24px/1.2 "Krona One", Helvetica, Arial, serif;
  color: #00568e;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title3 {
    font-size: 22px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title3 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title3 {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title3 {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title3 {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title3 {
    font-size: 16px;
  }
}
.pilih-pembayaran-medium-title3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 44.5%;
  margin: 33px auto 34px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title3.layout {
    margin: 29px auto 30px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title3.layout {
    margin: 24px auto 25px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title3.layout {
    margin: 20px auto 21px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title3.layout {
    margin: 18px auto 19px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title3.layout {
    margin: 16px auto 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title3.layout {
    margin: 15px auto;
  }
}
.pilih-pembayaran-block4-spacer {
  flex: 0 0 auto;
  min-width: 44px;
}
.pilih-pembayaran-block51 {
  display: flex;
  flex-direction: column;
  background-color: #b8e3ff;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.2470588235);
  border: 1px solid black;
  border-radius: 19px 19px 19px 19px;
  transition-duration: 0.3s;
  transition-property: filter;
}
.pilih-pembayaran-block51:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.pilih-pembayaran-block51.layout {
  position: relative;
  height: 96px;
  width: 200px;
  min-width: 200px;
}
.pilih-pembayaran-medium-title31-box {
  display: flex;
  justify-content: center;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title31-box {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title31-box {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title31-box {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title31-box {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title31-box {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title31-box {
    align-items: flex-start;
    justify-content: center;
  }
}
.pilih-pembayaran-medium-title31-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 34%;
  margin: 33px auto 34px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title31-box.layout {
    margin: 29px auto 30px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title31-box.layout {
    margin: 24px auto 25px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title31-box.layout {
    margin: 20px auto 21px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title31-box.layout {
    margin: 18px auto 19px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title31-box.layout {
    margin: 16px auto 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title31-box.layout {
    margin: 15px auto;
  }
}
.pilih-pembayaran-medium-title31 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 24px/1.2 "Krona One", Helvetica, Arial, serif;
  color: #00568e;
  text-align: center;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title31 {
    font-size: 22px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title31 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title31 {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title31 {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title31 {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title31 {
    font-size: 16px;
  }
}
.pilih-pembayaran-medium-title3.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 33px 15px 34px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title3.layout1 {
    margin: 29px 13px 30px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title3.layout1 {
    margin: 24px 11px 25px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title3.layout1 {
    margin: 20px 9px 21px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title3.layout1 {
    margin: 18px 9px 19px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title3.layout1 {
    margin: 16px 8px 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title3.layout1 {
    margin: 15px 7px;
  }
}
.pilih-pembayaran-medium-title3.layout2 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 29%;
  margin: 33px auto 34px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title3.layout2 {
    margin: 29px auto 30px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title3.layout2 {
    margin: 24px auto 25px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title3.layout2 {
    margin: 20px auto 21px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title3.layout2 {
    margin: 18px auto 19px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title3.layout2 {
    margin: 16px auto 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title3.layout2 {
    margin: 15px auto;
  }
}
.pilih-pembayaran-block41 {
  display: flex;
}
.pilih-pembayaran-block41.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 932px;
  min-width: 932px;
  margin: 76px auto 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-block41.layout {
    margin: 65px auto 0px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-block41.layout {
    width: 1243px;
    min-width: 1243px;
    margin: 52px auto 0px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-block41.layout {
    width: 1657px;
    min-width: 1657px;
    margin: 42px auto 0px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-block41.layout {
    width: 2209px;
    min-width: 2209px;
    margin: 37px auto 0px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-block41.layout {
    width: 2945px;
    min-width: 2945px;
    margin: 31px auto 0px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-block41.layout {
    width: 3927px;
    min-width: 3927px;
    margin: 28px auto 0px;
  }
}
.pilih-pembayaran-medium-title3.layout3 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 33px 0px 34px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title3.layout3 {
    margin: 29px 0px 30px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title3.layout3 {
    margin: 24px 0px 25px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title3.layout3 {
    margin: 20px 0px 21px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title3.layout3 {
    margin: 18px 0px 19px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title3.layout3 {
    margin: 16px 0px 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title3.layout3 {
    margin: 15px 0px;
  }
}
.pilih-pembayaran-medium-title3.layout4 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 33px 0px 34px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title3.layout4 {
    margin: 29px 0px 30px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title3.layout4 {
    margin: 24px 0px 25px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title3.layout4 {
    margin: 20px 0px 21px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title3.layout4 {
    margin: 18px 0px 19px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title3.layout4 {
    margin: 16px 0px 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title3.layout4 {
    margin: 15px 0px;
  }
}
.pilih-pembayaran-medium-title3.layout5 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 33px 0px 34px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title3.layout5 {
    margin: 29px 0px 30px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title3.layout5 {
    margin: 24px 0px 25px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title3.layout5 {
    margin: 20px 0px 21px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title3.layout5 {
    margin: 18px 0px 19px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title3.layout5 {
    margin: 16px 0px 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title3.layout5 {
    margin: 15px 0px;
  }
}
.pilih-pembayaran-medium-title3.layout6 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 33px 39px 34px 40px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title3.layout6 {
    margin: 29px 34px 30px 35px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title3.layout6 {
    margin: 24px 28px 25px 29px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title3.layout6 {
    margin: 20px 23px 21px 24px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title3.layout6 {
    margin: 18px 21px 19px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title3.layout6 {
    margin: 16px 18px 17px 19px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title3.layout6 {
    margin: 15px 17px;
  }
}
.pilih-pembayaran-block6 {
  display: flex;
  flex-direction: column;
}
.pilih-pembayaran-block6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 93.33%;
  margin: 75px auto 50px;
}
@media (max-width: 1399px) {
  .pilih-pembayaran-block6.layout {
    width: 94.92%;
  }
}
@media (max-width: 1199px) {
  .pilih-pembayaran-block6.layout {
    width: 96.14%;
    margin: 64px auto 43px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-block6.layout {
    width: 97.07%;
    margin: 52px auto 35px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-block6.layout {
    width: 97.79%;
    margin: 42px auto 28px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-block6.layout {
    width: 98.33%;
    margin: 36px auto 24px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-block6.layout {
    width: 98.74%;
    margin: 31px auto 21px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-block6.layout {
    width: 99.06%;
    margin: 28px auto 19px;
  }
}
.pilih-pembayaran-line {
  background-color: black;
}
.pilih-pembayaran-line.layout {
  position: relative;
  height: 1px;
}
.pilih-pembayaran-block7 {
  display: flex;
}
@media (max-width: 575px) {
  .pilih-pembayaran-block7 {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
.pilih-pembayaran-block7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 4px 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-block7.layout {
    margin: 18px 5px 0px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-block7.layout {
    margin: 15px 5px 0px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-block7.layout {
    margin: 13px 5px 0px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-block7.layout {
    margin: 11px 5px 0px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-block7.layout {
    margin: 10px 5px 0px;
  }
}
.pilih-pembayaran-block7-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
}
@media (max-width: 575px) {
  .pilih-pembayaran-block7-item {
    flex: 0 0 100%;
  }
}
.pilih-pembayaran-medium-title21 {
  font: 24px/1.2 "Krona One", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title21 {
    font-size: 22px;
    text-align: left;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title21 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title21 {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title21 {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title21 {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title21 {
    font-size: 16px;
  }
}
.pilih-pembayaran-medium-title21.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 1px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title21.layout {
    margin: 0px 0px 5px;
  }
}
.pilih-pembayaran-block7-spacer {
  flex: 0 1 762px;
}
@media (max-width: 575px) {
  .pilih-pembayaran-block7-spacer {
    display: none;
  }
}
.pilih-pembayaran-medium-title22 {
  display: flex;
  justify-content: flex-end;
  font: 24px/1.2 "Krona One", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title22 {
    font-size: 22px;
    text-align: right;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title22 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title22 {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title22 {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title22 {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title22 {
    font-size: 16px;
  }
}
.pilih-pembayaran-medium-title22.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 1px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title22.layout {
    margin: 0px 0px 5px;
  }
}
.pilih-pembayaran-line.layout1 {
  position: relative;
  height: 1px;
  margin: 20px 0px 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-line.layout1 {
    margin: 18px 0px 0px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-line.layout1 {
    margin: 15px 0px 0px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-line.layout1 {
    margin: 13px 0px 0px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-line.layout1 {
    margin: 11px 0px 0px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-line.layout1 {
    margin: 10px 0px 0px;
  }
}
.pilih-pembayaran-block8 {
  display: flex;
  flex-direction: column;
}
.pilih-pembayaran-block8.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 26px 0px 27px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-block8.layout {
    margin: 18px 23px 0px 24px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-block8.layout {
    margin: 15px 19px 0px 20px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-block8.layout {
    margin: 13px 16px 0px 17px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-block8.layout {
    margin: 11px 15px 0px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-block8.layout {
    margin: 10px 13px 0px 14px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-block8.layout {
    margin: 10px 12px 0px 13px;
  }
}
.pilih-pembayaran-medium-title23-box {
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title23-box {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title23-box {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title23-box {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title23-box {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title23-box {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title23-box {
    align-items: center;
    justify-content: flex-start;
  }
}
.pilih-pembayaran-medium-title23-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 18.5px 0px 17.5px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title23-box.layout {
    margin: 16px 0px 15px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title23-box.layout {
    margin: 14px 0px 13px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title23-box.layout {
    margin: 12px 0px 11px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title23-box.layout {
    margin: 11px 0px 10px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title23-box.layout {
    margin: 10px 0px 9px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title23-box.layout {
    margin: 9px 0px 8px;
  }
}
.pilih-pembayaran-medium-title23 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 24px/1.2 "Krona One", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title23 {
    font-size: 22px;
    text-align: left;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title23 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title23 {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title23 {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title23 {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title23 {
    font-size: 16px;
  }
}
.pilih-pembayaran-block9 {
  display: flex;
  flex-direction: column;
}
.pilih-pembayaran-block9.layout {
  position: absolute;
  top: -1px;
  height: 68px;
  width: 199px;
  right: 0px;
}
.pilih-pembayaran-medium-title24 {
  display: flex;
  justify-content: flex-end;
  font: 24px/1.2 "Krona One", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title24 {
    font-size: 22px;
    text-align: right;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title24 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title24 {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title24 {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title24 {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title24 {
    font-size: 16px;
  }
}
.pilih-pembayaran-medium-title24.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.pilih-pembayaran-medium-title2.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 9px 0px 1px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title2.layout1 {
    margin: 8px 0px 5px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title2.layout1 {
    margin: 7px 0px 5px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title2.layout1 {
    margin: 6px 0px 5px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title2.layout1 {
    margin: 5px 0px;
  }
}
.pilih-pembayaran-line.layout2 {
  position: relative;
  height: 1px;
  margin: 20px 0px 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-line.layout2 {
    margin: 18px 0px 0px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-line.layout2 {
    margin: 15px 0px 0px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-line.layout2 {
    margin: 13px 0px 0px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-line.layout2 {
    margin: 11px 0px 0px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-line.layout2 {
    margin: 10px 0px 0px;
  }
}
.pilih-pembayaran-block10 {
  display: flex;
  flex-direction: column;
}
.pilih-pembayaran-block10.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 16px 0px 17px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-block10.layout {
    margin: 18px 14px 0px 15px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-block10.layout {
    margin: 15px 12px 0px 13px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-block10.layout {
    margin: 13px 10px 0px 11px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-block10.layout {
    margin: 11px 9px 0px 10px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-block10.layout {
    margin: 10px 8px 0px 9px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-block10.layout {
    margin: 10px 8px 0px;
  }
}
.pilih-pembayaran-block11 {
  display: flex;
}
@media (max-width: 383px) {
  .pilih-pembayaran-block11 {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
.pilih-pembayaran-block11.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 3px 0px 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-block11.layout {
    margin: 5px 0px 0px;
  }
}
.pilih-pembayaran-block11-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
}
@media (max-width: 383px) {
  .pilih-pembayaran-block11-item {
    flex: 0 0 100%;
  }
}
.pilih-pembayaran-medium-title25 {
  font: 24px/1.2 "Krona One", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title25 {
    font-size: 22px;
    text-align: left;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title25 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title25 {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title25 {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title25 {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title25 {
    font-size: 16px;
  }
}
.pilih-pembayaran-medium-title25.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 33px 0px 34px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title25.layout {
    margin: 29px 0px 30px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title25.layout {
    margin: 24px 0px 25px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title25.layout {
    margin: 20px 0px 21px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title25.layout {
    margin: 18px 0px 19px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title25.layout {
    margin: 16px 0px 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title25.layout {
    margin: 15px 0px;
  }
}
.pilih-pembayaran-block11-spacer {
  flex: 0 1 1026px;
}
@media (max-width: 383px) {
  .pilih-pembayaran-block11-spacer {
    display: none;
  }
}
.pilih-pembayaran-medium-title26 {
  display: flex;
  justify-content: flex-end;
  font: 24px/1.2 "Krona One", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title26 {
    font-size: 22px;
    text-align: right;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title26 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title26 {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title26 {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title26 {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title26 {
    font-size: 16px;
  }
}
.pilih-pembayaran-medium-title26.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 33px 0px 34px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-medium-title26.layout {
    margin: 29px 0px 30px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-medium-title26.layout {
    margin: 24px 0px 25px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-medium-title26.layout {
    margin: 20px 0px 21px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-medium-title26.layout {
    margin: 18px 0px 19px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-medium-title26.layout {
    margin: 16px 0px 17px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-medium-title26.layout {
    margin: 15px 0px;
  }
}
.pilih-pembayaran-block12 {
  display: flex;
  flex-direction: column;
}
.pilih-pembayaran-block12.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 18.92%;
  margin: 0px auto 2px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-block12.layout {
    margin: 0px auto 5px;
  }
}
.pilih-pembayaran-block13 {
  display: flex;
  flex-direction: column;
  background-color: #fc8955;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2470588235);
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: filter;
}
.pilih-pembayaran-block13:hover {
  filter: drop-shadow(0 0 10px #00000080);
}
.pilih-pembayaran-block13.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.pilih-pembayaran-big-title {
  display: flex;
  justify-content: center;
  font: 32px/1.2 "Poppins", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-big-title {
    font-size: 29px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-big-title {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-big-title {
    font-size: 23px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-big-title {
    font-size: 21px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-big-title {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .pilih-pembayaran-big-title {
    font-size: 19px;
  }
}
.pilih-pembayaran-big-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0px 16px;
}
@media (max-width: 1199px) {
  .pilih-pembayaran-big-title.layout {
    margin: 5px 0px 14px;
  }
}
@media (max-width: 991px) {
  .pilih-pembayaran-big-title.layout {
    margin: 5px 0px 12px;
  }
}
@media (max-width: 767px) {
  .pilih-pembayaran-big-title.layout {
    margin: 5px 0px 10px;
  }
}
@media (max-width: 575px) {
  .pilih-pembayaran-big-title.layout {
    margin: 5px 0px 9px;
  }
}
@media (max-width: 479px) {
  .pilih-pembayaran-big-title.layout {
    margin: 5px 0px 8px;
  }
}